.Footer {
  background-color: rgb(177, 194, 38);
  height: 130px;
  padding-top: 30px;

  .footer {
    p {
      color: rgb(33, 62, 73);
      margin-top: 16px;
    }

    a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}