.About {
  background-color: rgb(79, 91, 148);
  padding-top: 130px;
  padding-bottom: 130px;
  color: white;
  -webkit-transform: skewy(-4deg);
  transform: skewy(-4deg);
  margin-top: -45px;

  .about {
    -webkit-transform: skewy(4deg);
    transform: skewy(4deg);

    h1 {
      padding-bottom: 100px;
      font-weight: lighter;
      letter-spacing: 0.1em;
    }

    p {
      text-align: center;
      font-size: 15px;
      letter-spacing: 0.2em;
      font-weight: lighter;
    }

    .photo {
      margin-bottom: 80px;
      width: 70%;
      height: auto;
      border-radius: 200px;
      background: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
      opacity: .8;
    }
  }
}