.About {
  background-color: rgb(79, 91, 148);
  padding-top: 130px;
  padding-bottom: 130px;
  color: white;
  -webkit-transform: skewy(-4deg);
  transform: skewy(-4deg);
  margin-top: -45px;

  .about {
    -webkit-transform: skewy(4deg);
    transform: skewy(4deg);
    padding: 0 80px;

    .text {
      padding-right: 70px;

      .sub-title {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: solid 2px rgba(255, 255, 255, 0.125);

        h2 {
          margin: 20px 0 0 0;
          font-weight: lighter;
          letter-spacing: 0.1em;
          font-size: 20px;
        }
      }

      p {
        font-size: 15px;
        letter-spacing: 0.1em;
        font-weight: lighter;
        text-align: left;
        line-height: 25px;
      }
    }

    .photo-col {
      align-items: center;
      justify-content: center;
      display: flex;

      .photo {
        border-radius: 200px;
        background: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
        opacity: .8;
      }
    }

    @media screen and (max-width: 640px) {
      .text {
        padding-right: 0;
      }
    }
  }
}