.Calculator {
  min-height: 400px;
  padding: 70px 0;
  width: 100%;
  background-color: rgb(54, 56, 72);
  color: white;

  .calculator {
    .result {
      background: rgba(255, 255, 255, 0.055);
      color: rgb(251, 172, 95);
      height: 50px;
      overflow: hidden;
      font-size: 34px;
      max-width: 280px;
      margin: auto;

      span {
        float: right;
      }
    }

    .clear-btn {
      padding: 0px;

      .clearBtn {
        width: 280px;
        margin: auto;
      }
    }


    button {
      height: 50px;
      width: 70px;
      background-color: rgb(241, 241, 243);
      color: rgb(33, 62, 73);
      font-size: 20px;
      border: 1px solid rgb(33, 62, 73);
    }

    button:hover {
      background: #d7ddd3;
      cursor: pointer;
    }

    button:focus {
      outline: none;
    }

    .rowButtons {
      padding: 0;
    }
  }
}