@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.Gif {
  min-height: 800px;
  padding-top: 70px;
  width: 100%;
  background: linear-gradient(to left, #c5d5cb, #e3e0cf);

  .gif {
    p {
      color: rgb(33, 62, 73);
      font-family: 'Lato';
      font-size: 20px;
      padding-bottom: 60px;
    }

    .gifMedias {
      width: 80%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding-bottom: 60px;
    }

    .btn-next {
      border: 0px;
      height: 40px;
      width: 100px;
      font-family: 'Lato';
      background-color: rgb(33, 62, 73);
      color: rgb(241, 241, 243);
      border: none;
    }

    .btn-next:hover {
      background-color: rgb(66, 151, 207);
      transition: .1s ease-out;
      outline: none;

    }
  }
}