.Header {
  padding-bottom: 50px;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.945), rgba(46, 49, 65, 0.8)), url("/medias/sky3.jpg");
  background-position: center;
  text-overflow: ellipsis;
  background-size: cover;
  -webkit-transform: skewy(-4deg);
  transform: skewy(-4deg);
  margin-top: -45px;

  .header {
    -webkit-transform: skewy(4deg);
    transform: skewy(4deg);
    padding-top: 60px;

    .inner {
      padding: 12em 3em 12.375em 3em;

      .row1 {
        margin: 0 0 1.3em 0;

        img {
          height: 60px;
        }
      }

      .row2 {
        border-bottom: solid 2px rgba(255, 255, 255, 0.125);
        font-size: 2.25em;
        margin-bottom: 0.8em;
        padding-bottom: 0.4em;
        color: white;
        font-weight: lighter;
        letter-spacing: 0.1em;
        margin: 0 0 1em 0;
      }

      .row3 {
        margin: 0 0 2em 0;
        color: white;
        font-size: 27px;
        font-weight: lighter;
        letter-spacing: 0.1em;
      }
    }
  }
}