.MiniAppsPage {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(47, 49, 64);
  color: white;

  .miniAppsPage {
    padding: 0 90px;

    h2 {
      margin: 80px 0 80px 0;
      font-weight: lighter;
      letter-spacing: 0.1em;
      font-size: 20px;
      padding-bottom: 1em;
      border-bottom: solid 2px rgba(255, 255, 255, 0.125);
      text-align: left;
    }

    .MuiTabs-flexContainer {
      justify-content: center;
      align-items: center;
    }

    .MuiTab-textColorInherit.Mui-selected {
      outline: none;
    }

    .MuiTab-textColorInherit {
      font-weight: lighter;
      letter-spacing: 0.1em;
      font-size: 12px;
    }

    .PrivateTabIndicator-colorSecondary-29 {
      background-color: rgb(251, 172, 95);
    }
  }

  @media screen and (max-width: 640px) {
    .miniAppsPage {
      padding: 0;
    }
  }
}