.PomodoroClock {
  min-height: 400px;
  padding: 70px 0;
  width: 100%;
  background-color: rgb(54, 56, 72);

  .pomodoroClock {
    padding: 40px 0;

    h3#timer-label.timer {
      font-size: 30px;
      color: white;
      font-weight: lighter;
      letter-spacing: 0.1em;
    }

    h3#time-left.timer {
      margin-bottom: 40px;
    }

    .timer {
      font-size: 60px;
      color: rgb(251, 172, 95);
    }

    .btn {
      height: 50px;
      width: 80px;
      border: solid 2px rgba(255, 255, 255, 0.384);
      color: white;
      font-size: 18px;
      font-weight: lighter;
      background-color: transparent;
    }

    .btn:focus {
      box-shadow: none;
    }

    .setTimer-label {
      font-size: 20px;
      color: white;
      justify-content: center;
      font-weight: lighter;
      letter-spacing: 0.1em;
    }

    .setTimer-controls {
      font-size: 40px;
    }

    h3#session-length.setTimer-value {
      margin-bottom: -10px;
    }

    h3#break-length.setTimer-value {
      margin-bottom: -10px;
    }

    .setTimer-controls-btn {
      height: 25px;
      width: 40px;
      color: white;
      border: solid 2px rgba(255, 255, 255, 0.384);
      font-weight: lighter;
      background-color: transparent;
    }

    .setTimer-controls-btn:focus {
      outline: none;
    }

    .setTimer-value {
      font-size: 30px;
      color: rgb(251, 172, 95);
    }
  }
}