.TodoList {
  min-height: 400px;
  padding-top: 70px;
  width: 100%;
  background-color: rgb(54, 56, 72);

  .todoList {
    .form {
      align-items: center;
      justify-content: center;
      display: flex;
      padding-bottom: 50px;

      input {
        max-width: 300px;
        appearance: none;
        background: rgba(255, 255, 255, 0.055);
        border-radius: 5px;
        border: solid 2px rgba(255, 255, 255, 0.384);
        color: white;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
        height: 2.75em;
        font-weight: lighter;
        letter-spacing: 0.1em;
      }

      .addBtn {
        height: 48.5px;
        width: 52px;
        color: rgba(255, 255, 255, 0.384);
        border: none;
        cursor: pointer;
        font-weight: lighter;
      }

      .addBtn:hover {
        color: white;
        transition: .1s ease-out;
      }
    }

    .list {
      color: white;
      font-weight: lighter;
      letter-spacing: 0.1em;

      .todo-text {
        font-size: 23px;
        text-align: left;
        word-wrap: break-word;
        align-items: baseline;
      }

      .checkCol {
        align-items: center;
        justify-content: center;
        display: flex;

        .check {
          cursor: pointer;
          margin: 0px;
        }
      }

      .deleteBtn {
        font-size: 30px;
        border: 0px;
        margin: none;
        cursor: pointer;
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.384);
      }

      .deleteBtn:hover {
        color: red;
        transition: .1s ease-out;
      }
    }
  }
}