@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.TodoList {
  min-height: 400px;
  padding-top: 70px;
  width: 100%;
  background: linear-gradient(to left, #c5d5cb, #e3e0cf);

  .todoList {
    h1 {
      color: rgb(33, 62, 73);
      font-family: 'Lato';
      font-weight: bold;
      padding-bottom: 100px;
    }

    .form {
      align-items: center;
      justify-content: center;
      display: flex;
      padding-bottom: 50px;

      input {
        font-size: 23px;
        color: rgb(33, 62, 73);
        max-width: 300px;
        padding: 0px;
        border: none;
        border-radius: 5px 0px 0px 5px;
      }

      .addBtn {
        height: 48.5px;
        width: 52px;
        background-color: rgb(33, 62, 73);
        color: white;
        border: none;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
      }

      .addBtn:hover {
        background-color: rgb(66, 151, 207);
        transition: .1s ease-out;
      }
    }

    .list {
      color: rgb(33, 62, 73);

      .todo-text {
        font-size: 23px;
        text-align: left;
        word-wrap: break-word;
        align-items: baseline;
      }

      .checkCol {
        align-items: center;
        justify-content: center;
        display: flex;

        .check {
          cursor: pointer;
          margin: 0px;
        }
      }

      .deleteBtn {
        font-size: 30px;
        border: 0px;
        margin: none;
        cursor: pointer;
      }

      .deleteBtn:hover {
        color: red;
        transition: .1s ease-out;
      }
    }
  }
}