@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.DatePickerPage {
  background: linear-gradient(to left, #c5d5cb, #e3e0cf);
  min-height: 800px;

  .datePickerPage {
    .home {
      .dp-logo {
        height: 80px;
      }
    }

    h1 {
      color: rgb(33, 62, 73);
      font-family: 'Lato';
      font-weight: bold;
      padding-bottom: 100px;
    }

    .calendar {
      max-width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      display: block;
      height: auto;
      margin: 0 auto;
      box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.507);
      ;
    }

    p {
      color: rgb(33, 62, 73);
      font-family: 'Lato';
      font-size: 20px;
      margin-bottom: 0px;
    }

    .btn-val {
      border: 0px;
      height: 40px;
      width: 100px;
      font-family: 'Lato';
      background-color: rgb(33, 62, 73);
      color: rgb(241, 241, 243);
      border: none;
      margin-top: 35px;
    }

    .btn-val:hover {
      background-color: rgb(66, 151, 207);
      transition: .1s ease-out;
      outline: none;
    }

    .btn-val:after {
      outline: none;
      border: none;
    }
  }
}