@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.TicTacToePage {
  position: absolute;
  padding-top: 70px;
  width: 100%;
  background: linear-gradient(to left, #c5d5cb, #e3e0cf);

  .ticTacToePage {
    .home {
      .dp-logo {
        height: 80px;
      }
    }

    h1 {
      color: rgb(33, 62, 73);
      font-family: 'Lato';
      font-weight: bold;
      padding-bottom: 100px;
    }

    h3 {
      padding-bottom: 75px;
      color: rgb(33, 62, 73);
      font-family: 'Lato';
      font-weight: bold;
    }

    .square {
      background: rgb(33, 62, 73);
      color: rgb(83, 180, 244);
      border: 1px solid #999;
      float: left;
      font-size: 50px;
      font-weight: bold;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 80px;
      line-height: 80px;
      height: 80px;
      box-shadow: none;
    }

    .square:hover {
      background-color: rgb(33, 62, 73);
      transition: none;
    }

    .square:focus {
      outline: none;
    }

    .border-row:after {
      clear: both;
      content: "";
      display: table;
    }

    .game {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding-left: 0px;
      padding-right: 0px;
      justify-content: center;
      padding-bottom: 75px;
    }

    ul {
      padding-right: 40px;
      list-style: none;
    }

    li {
      justify-content: center;
      padding-bottom: 20px;
    }

    .game-info {
      margin: 0;
      padding-left: 0px;
      padding-right: 0px;
      justify-content: center;
    }

    .status {
      margin-bottom: 10px;
    }

    button {
      height: 40px;
      width: 100px;
      font-family: 'Lato';
      background-color: rgb(33, 62, 73);
      color: rgb(241, 241, 243);
      margin-top: 35px;
      border-radius: 0.25rem;
    }

    button:hover {
      background-color: rgb(66, 151, 207);
      transition: .1s ease-out;
      outline: none;
    }

    button:focus {
      outline: none;
    }
  }
}