@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

.Card {
  bottom: 20px;

  .card {
    margin-bottom: 70px;
    background: transparent;
    padding: 5px;

    .title {
      font-size: 20px;
      color: rgb(33, 62, 73);
      font-family: 'Gayathri';
    }

  }

  .card:hover {
    box-shadow: -1px 1px 2px 1px rgb(33, 62, 73);
    transition: all .1s ease-out;
    border: 3px;
  }
}