@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.Footer {
  background-color: rgb(33, 62, 73);
  padding-top: 30px;
  padding-bottom: 30px;

  .footer {
    p {
      font-family: 'Lato';
      color: rgb(241, 241, 243);
      margin-top: 16px;
      margin-bottom: 0px;
    }

    a {
      padding-left: 20px;
      padding-right: 20px;
    }

    .dp-logo {
      height: 20px;
    }
  }
}