@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.NavBar {
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top: -60px;
  height: 50px;


  .dp-logo {
    height: 40px;
  }

  .navbar-light .navbar-toggler {
    border: none;
  }

  a.section-link {
    color: rgb(241, 241, 243);
    font-family: "Lato";
    font-size: 17px;
    cursor: pointer;
    padding-top: 8px;
    float: right;
    background-color: rgba(33, 62, 73, 0.438);
    width: 150px;
  }

  a.section-link:hover {
    color: rgb(241, 241, 243);
  }

  button.navbar-toggler:focus {
    outline: none;
  }

  a.section-link.nav-link {
    color: rgb(241, 241, 243);
    cursor: pointer;
    align-items: right;
  }

  a.section-link.nav-link:hover {
    color: rgb(241, 241, 243);
  }
}