@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

.NavBar {
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top: -60px;
  height: 50px;
  

  .dp-logo {
    height: 40px;
  }

  .navbar-light .navbar-toggler {
    border: none;
  }

  a.section-link {
    color: rgb(33, 62, 73);
    font-family: "Garathri";
    font-size: 17px;
    cursor: pointer;
    padding-top: 8px;
    text-align: right;
  }

  a.section-link:hover {
    color: rgb(33, 62, 73);
  }

  button.navbar-toggler:focus {
    outline: none;
  }

}