@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.Portfolio {
  background-color: rgb(241, 241, 243);
  padding-top: 130px;
  padding-bottom: 130px;
  font-family: 'Lato';

  .portfolio {

    h1 {
      color: rgb(33, 62, 73);
      font-family: 'Lato';
      font-weight: bold;
      padding-bottom: 100px;
    }

    .carousel {
      .react-multiple-carousel__arrow {
        outline: none;
      }

      .react-multiple-carousel__arrow--left {
        left: 0;
      }

      .react-multiple-carousel__arrow--right {
        right: 0;
      }

      .react-multi-carousel-dot-list {
        .react-multi-carousel-dot button {
          outline: none;
          border: none;
          height: 4px;
          width: 30px;
          border-radius: 1px;
          background: rgba(33, 62, 73, 0.205);
        }

        .react-multi-carousel-dot--active button {
          background: rgb(33, 62, 73);
        }
      }
    }

    .react-multi-carousel-list.carousel {
      padding-bottom: 50px;
    }
  }

}